<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% block title %}
    <title>Polls</title>
    {% endblock title %}
</head>
<body>
    <section class="hero">
        <div class="hero-body">
            <p class="title">
                {% block heading %}
                <h2 class="title">Polls:</h2>
                <hr>
                {% endblock heading %}
            </p>
        </div>
    </section>

    
    {% block content %}
    {% endblock content %}
    
    {% block ending %}
    <p>Copyright 2023-{% now "Y" %}</p>
    {% endblock ending %}
    
</body>
</html>