{% extends "app_poll/base.html" %}

{% block title %}
<title>{{question.question_text}}</title>
{% endblock title %}


{% block content %}
<form action="{% url 'app_poll:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h3>{{question.question_text }}</h3></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.chioce_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">

</form>

{% endblock content %}


<h2>{{ question.question_text }}</h2>

<ul>
    {% for choice in question.choice_set.all %}
    <li>{{ choice.chioce_text }}</li>
    {% endfor %}
</ul>