{% extends "app_poll/base.html" %}

{% block title %}
<title>Results for: {{question.question_text}}</title>
{% endblock title %}

{% block content %}
<h2>{{ question.question_text }}</h2><br>

<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.chioce_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize}}</li>
    {% endfor %}
</ul>

<a href="{% url 'app_poll:index' %}">Vote again?</a>
{% endblock content %}