<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% block title %}
    <title>AUTH</title>
    {% endblock title %}
</head>
<body>
    <h2>Welcome to my website!</h2>
    <hr>
    {% block content %}
    {% endblock content %}
</body>
</html>